@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('components/avatars.css');

body {
  margin: 0;
  background-color: #fdfffc;
  color: #011627;
  font-family: 'Merriweather', serif;
}



a {
  color: #2d00f7;
}

a:visited {
  color: #a100f2;
}

a:active {
  color: #ff0054;
}

.container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1 0 auto;
}

.container li {
  display: inline;
}

.container ul {
  list-style-type: none;
  padding: 0;
}
